:root {
  /* color */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: #fff;

  /* typography */
  --font-size: 18px;
  --font-open-sans: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-poppins: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* units */
  --transition-duration: 100ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  font-weight: normal;
}

html {
  background-color: var(--violet);
  font-family: var(--font-open-sans);
  color: var(--white);
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 72px;
}

.header {
  padding: 40px 0;
}

.header__logo {
  max-width: 12rem;
}

.main {
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: center;
  gap: 60px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta__title {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: var(--font-poppins);
}

.cta__text {
  margin-top: 1rem;
  line-height: 1.6rem;
}

.cta__button {
  margin-top: 1rem;
  background-color: var(--white);
  border: none;
  align-self: flex-start;
  padding: 0.8rem 3rem;
  color: var(--soft-magenta);
  border-radius: 10rem;
  font-family: var(--font-poppins);
  cursor: pointer;
  transition: var(--transition-duration);
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
}

.cta__button:hover {
  background-color: var(--soft-magenta);
  color: var(--white);
}

.footer {
  padding: 2rem 0;
}

.social-accounts {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.social-accounts__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  border: 0.1rem solid var(--white);
  cursor: pointer;
  transition: var(--transition-duration);
}

.social-accounts__item:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
}

.social-accounts__item + .social-accounts__item {
  margin-left: 1.4rem;
}

.social-accounts__icon::before {
  font-size: 1.2em;
}
